/* Resetowanie domyślnych marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tło strony */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #1f1c2c, #928DAB);
    color: white;
    line-height: 1.6;
    text-align: center;
}

/* Nawigacja */
.navbar {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #5e6dff;
}

/* Kontener strony */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Nagłówek */
header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #FF8C00;
}

header p {
    font-size: 1.2rem;
}

/* Cechy serwera */
.content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #FF8C00;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    transition: transform 0.3s ease;
}

.feature h3 {
    font-size: 1.8rem;
    color: #FF8C00;
}

.feature p {
    font-size: 1rem;
}

.feature:hover {
    transform: scale(1.1);
}

/* Stopka */
footer {
    margin-top: 50px;
    font-size: 0.9rem;
    color: #ddd;
}
